{% extends './index.html' %}

{% block title %} Editar Cliente {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1>Edicion de Cliente</h1>
        <div class="card">
            <div class="card-body ">
                <form action="/editarDirecc/" method="POST">{% csrf_token %}
                    <div class="form-group py-2"> 
                        <input type="text" id="txtdodigoV" name="txtcodigot" value="{{descuento.id}}" class="form-control" placeholder="Codigo" readonly required>
                    </div>  
                    <div class="form-group py-2"> 
                        <input type="text" id="txtFP" name="txtporcentajet" value="{{descuento.porcentaje_descuento}}" class="form-control" placeholder="Porcentaje" readonly required>
                    </div>
                    <div class="form-group py-2"> 
                        <input type="text" id="txtFI" name="txtfechainicio" value="{{descuento.fecha_inicio_descuento}}" class="form-control" placeholder="Fecha Inicio" readonly required>
                    </div>
                   
                    <div class="form-group py-2"> 
                        <button type="submit" class="btn-success btn-block text-while">Actualizar</button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}