{% extends './index.html' %}
{% block title %} REGISTAR PRODUCTO {% endblock %}
{%  block content %}
{% load static %}
<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <script src="https://codepen.io/mariacheline/pen/zzbEXv.css?editors=0100"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://codepen.io/mariacheline/pen/zzbEXv.js?editors=0100"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.css" >
    </head>
    <body>


        <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="card">
                <div class="card-body ">
                    <form id="FormT" action="/registrarProduct/" method="POST">{% csrf_token %}
                        
                        <div class="form-group "> 
                            <input type="text" id="txtNombreP" name="txtNombreProducto" class="form-control" placeholder="Nombre" required>
                        </div>
                        <div class="form-group "> 
                            <input type="text" id="txtPrecioP" name="txtPrecioProducto" class="form-control" placeholder="Precio" required>
                        </div>
                        <select class="form-control " style="margin-bottom: 15px;" id="categoria-id" name="categ">
                            <option class="py-2" selected='selected' disabled >selecionar una categoria</option>
                        </select>
                        <select class="form-control" style="margin-bottom: 15px;" id="descripcion-id" name="descrip"  >
                            <option class="py-2" selected='selected' disabled >selecionar una descripcion</option>
                        </select>
                       
                        <div class="form-group" > 
                            <button type="submit"  style="border-radius: 10px;" class="btn-success btn-block text-while">Guardar</button>
                        </div>       
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8"> 
            <div class="table-responsive py-2"> 
                <table class="table table-stiped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descripcion</th>
                        <th colspan="2">Opciones</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                    {% if productos %}

                    {% for producto in productos %}
                    <tr>
                        <td scope="row">{{producto.id}}</td>
                        <td> {{producto.nombre_producto}}</td>
                        <td>{{producto.precio_venta_producto}}</td>
                        <td>{{producto.categoria}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td><a  href="/edicionProductos/{{producto.id}}" class="btn btn-info"> Editar</a> </td>
                        <td><a   id="Elimi-producto" onclick="fnDel('Elimi-producto','/eliminacionProductos/')" class="btn btn-danger btnEliminacion"> Eliminar</a> </td>
                    </tr>
                    {% endfor %}
                    
                    {% endif %}
                    </tbody>
                </table>
            </di>
        </div>
        </div>
        <script>
            $(document).ready(function() {
                $(function(){
                    $.ajax({
                        type:'GET',
                        url: 'http://127.0.0.1:8000/datosCategoria/',
                        success:function(response){
                            $.each(response,function(indice,fila){
                                $('#categoria-id').append("<option value='"+fila.nombre_categoria+"'>"+fila.nombre_categoria+"</option>")
                            });
                            $('#categoria-id').select2();
                        }
                    });
                });
            });
        </script> 
        <script>
            $(document).ready(function() {
                $(function(){
                    $.ajax({
                        type:'GET',
                        url: 'http://127.0.0.1:8000/datosDescripcion/',
                        success:function(response){
                            $.each(response,function(indice,fila){
                                $('#descripcion-id').append("<option value='"+fila.descripcion_producto+"'>"+fila.descripcion_producto+"</option>")
                            });
                            $('#descripcion-id').se;
                        }
                    });
                });
            });
        </script> 
        
        <script src="{% static 'js/scripts.js' %}"></script>

    </body>
</html>

{% endblock %}